/*Universal Coding*/
body{
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  text-align:center;
}

nav{
  text-align: right;
  flex-grow: 1;
}

a{
  color: seashell;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div{
  display: block;
  border: 1px solid white;
}
/*Header CSS Code*/
header{
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img{
  height: 50px;
  padding-left: 10px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

/* Main Content Container Code*/
.main{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/*Mission Section*/
#mission{
  height: 700px;
  background-image: url(../photos/img-mission-background.jpg);
  padding-top: 70px;
}

#mission .content{
  margin: auto;
  background-color: black;
  width: 100%;
}
